{% extends 'base.html' %}
{% block content %}
<h2>Login</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}<br>
        {{ form.email(placeholder="Enter your email") }}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(placeholder="Enter your password") }}
    </div>
    <div>{{ form.submit() }}</div>
</form>

<p style="margin-top: 20px;"><strong>Sample Account:</strong> rusellerae.laude@tup.edu.ph / sample123</p>
<p><strong>Sample Account:</strong> admin@tup.edu.ph / admin123</p>
{% endblock %}